<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	
	<display-name>PreInitDemo</display-name>
	<!-- サーブレット定義 -->
	<servlet>
		<servlet-name>PreInitervlet</servlet-name>
		<servlet-class>com.bharath.trainings.servlets.preinit.PreInitServlet</servlet-class>
		<!-- 事前初期化の設定 -->
		<load-on-startup>0</load-on-startup>
	</servlet>
	<!-- サーブレットマッピング -->
	<servlet-mapping>
		<servlet-name>PreInitServlet</servlet-name>
		<url-pattern>/preInitServlet</url-pattern>
	</servlet-mapping>

</web-app>